extends layout.pug 

block append head

    title Report
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='description', content="Something")
    meta(property='og:title', content= title)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src = "https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js")
    link(rel='stylesheet', href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css")

block append header
    include header.pug

block append main    
    include table.pug
    
